MODE=DEV

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=test_booking_db

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=pushkin567567@gmail.com
SMTP_PASS=ohwh ltjy sxcd dfdf

REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_KEY=0bEdU1ak8X011fubk/VKNdFjtbiSkmZ3qIYeb13/bms= 
ALGORITHM=HS256 

LOG_LEVEL=INFO

SENTRY_DSN=https://beb8f4d6467ada0743943bf7a30e0f8a@o4508417558511616.ingest.de.sentry.io/4508417589510224